<center> <font size=6> <b> Table of Contents </b> </font> </center> 
<div id="toc"></div>

The following cell is a Javascript section of code for building the Jupyter notebook's table of content.

In [1]:
%%javascript
$.getScript('https://kmahelona.github.io/ipython_notebook_goodies/ipython_notebook_toc.js')

**-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-**

<center> <font size=5> <h1>Define working environment</h1> </font> </center>

The following cells are used to: 
- Import needed libraries
- Set the environment variables for Python, Anaconda, GRASS GIS and R statistical computing 
- Define the ["GRASSDATA" folder](https://grass.osgeo.org/grass73/manuals/helptext.html), the name of "location" and "mapset" where you will to work.

**Import libraries**

In [2]:
## Import libraries needed for setting parameters of operating system 
import os
import sys

## Import library for temporary files creation 
import tempfile 

## Import Pandas library
import pandas as pd

## Import Numpy library
import numpy

## Import Psycopg2 library (interection with postgres database)
import psycopg2 as pg

# Import Math library (usefull for rounding number, e.g.)
import math

## Import Subprocess + subprocess.call
import subprocess
from subprocess import call, Popen, PIPE, STDOUT

<center> <font size=3> <h3>Environment variables when working on Linux Mint</h3> </font> </center>

**Set 'Python' and 'GRASS GIS' environment variables**

Here, we set [the environment variables allowing to use of GRASS GIS](https://grass.osgeo.org/grass64/manuals/variables.html) inside this Jupyter notebook. Please change the directory path according to your own system configuration.

In [3]:
### Define GRASS GIS environment variables for LINUX UBUNTU Mint 18.1 (Serena)
# Check is environmental variables exists and create them (empty) if not exists.
if not 'PYTHONPATH' in os.environ:
    os.environ['PYTHONPATH']=''
if not 'LD_LIBRARY_PATH' in os.environ:
    os.environ['LD_LIBRARY_PATH']=''
# Set environmental variables
os.environ['GISBASE'] = '/home/tais/SRC/GRASS/grass_trunk/dist.x86_64-pc-linux-gnu'
os.environ['PATH'] += os.pathsep + os.path.join(os.environ['GISBASE'],'bin')
os.environ['PATH'] += os.pathsep + os.path.join(os.environ['GISBASE'],'script')
os.environ['PATH'] += os.pathsep + os.path.join(os.environ['GISBASE'],'lib')
#os.environ['PATH'] += os.pathsep + os.path.join(os.environ['GISBASE'],'etc','python')
os.environ['PYTHONPATH'] += os.pathsep + os.path.join(os.environ['GISBASE'],'etc','python')
os.environ['PYTHONPATH'] += os.pathsep + os.path.join(os.environ['GISBASE'],'etc','python','grass')
os.environ['PYTHONPATH'] += os.pathsep + os.path.join(os.environ['GISBASE'],'etc','python','grass','script')
os.environ['PYTHONLIB'] = '/usr/lib/python2.7'
os.environ['LD_LIBRARY_PATH'] += os.pathsep + os.path.join(os.environ['GISBASE'],'lib')
os.environ['GIS_LOCK'] = '$$'
os.environ['GISRC'] = os.path.join(os.environ['HOME'],'.grass7','rc')
os.environ['PATH'] += os.pathsep + os.path.join(os.environ['HOME'],'.grass7','addons')
os.environ['PATH'] += os.pathsep + os.path.join(os.environ['HOME'],'.grass7','addons','bin')
os.environ['PATH'] += os.pathsep + os.path.join(os.environ['HOME'],'.grass7','addons')
os.environ['PATH'] += os.pathsep + os.path.join(os.environ['HOME'],'.grass7','addons','scripts')

## Define GRASS-Python environment
sys.path.append(os.path.join(os.environ['GISBASE'],'etc','python'))

**-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-**

**Display current environment variables of your computer**

In [4]:
## Display the current defined environment variables
for key in os.environ.keys():
    print "%s = %s \t" % (key,os.environ[key])

MDMSESSION = mate
MANDATORY_PATH = /usr/share/gconf/mate.mandatory.path
MATE_DESKTOP_SESSION_ID = this-is-deprecated
LESSOPEN = | /usr/bin/lesspipe %s
MDM_LANG = fr_BE.UTF-8
LOGNAME = tais
USER = tais
HOME = /home/tais
XDG_VTNR = 8
PATH = /usr/local/bin:/home/tais/BIN:/home/tais/bin:/home/tais/.local/bin:/usr/local/sbin:/usr/local/bin:/usr/sbin:/usr/bin:/sbin:/bin:/usr/games:/usr/local/games:/home/tais/SRC/GRASS/grass_trunk/dist.x86_64-pc-linux-gnu/bin:/home/tais/SRC/GRASS/grass_trunk/dist.x86_64-pc-linux-gnu/script:/home/tais/SRC/GRASS/grass_trunk/dist.x86_64-pc-linux-gnu/lib:/home/tais/.grass7/addons:/home/tais/.grass7/addons/bin:/home/tais/.grass7/addons:/home/tais/.grass7/addons/scripts
CLICOLOR = 1
DISPLAY = :0.0
SSH_AGENT_PID = 2066
LANG = fr_BE.UTF-8
TERM = xterm-color
SHELL = /bin/bash
GIS_LOCK = $$
XAUTHORITY = /home/tais/.Xauthority
SESSION_MANAGER = local/tais-HP-Z620-Workstation:@/tmp/.ICE-unix/1995,unix/tais-HP-Z620-Workstation:/tmp/.ICE-unix/1995
SHLVL = 1
QT_LINUX_ACCESSIBILITY_ALWAYS_ON = 1
INSIDE_CAJA_PYTHON =
QT_ACCESSIBILITY = 1
LD_LIBRARY_PATH = :/home/tais/SRC/GRASS/grass_trunk/dist.x86_64-pc-linux-gnu/lib
COMPIZ_CONFIG_PROFILE = mate
WINDOWPATH = 8
GTK_OVERLAY_SCROLLING = 0
PYTHONPATH = :/home/tais/SRC/GRASS/grass_trunk/dist.x86_64-pc-linux-gnu/etc/python:/home/tais/SRC/GRASS/grass_trunk/dist.x86_64-pc-linux-gnu/etc/python/grass:/home/tais/SRC/GRASS/grass_trunk/dist.x86_64-pc-linux-gnu/etc/python/grass/script
GISBASE = /home/tais/SRC/GRASS/grass_trunk/dist.x86_64-pc-linux-gnu
CLUTTER_BACKEND = x11
USERNAME = tais
XDG_SESSION_DESKTOP = mate
GDM_XSERVER_LOCATION = local
XDG_RUNTIME_DIR = /run/user/1000
JPY_PARENT_PID = 7298
QT_STYLE_OVERRIDE = gtk
SSH_AUTH_SOCK = /run/user/1000/keyring/ssh
VTE_VERSION = 4205
GDMSESSION = mate
GISRC = /home/tais/.grass7/rc
GIT_PAGER = cat
XDG_CONFIG_DIRS = /etc/xdg/xdg-mate:/etc/xdg
XDG_CURRENT_DESKTOP = MATE
XDG_SESSION_ID = c1
DBUS_SESSION_BUS_ADDRESS = unix:abstract=/tmp/dbus-HQg01KxGx1,guid=5adb60f2fb9cb695876d89a05a25171e
_ = /usr/local/bin/jupyter
XDG_SESSION_COOKIE = 8441891e86e24d76b9616edf516d5734-1512380190.44057-252399727
DESKTOP_SESSION = mate
WINDOWID = 54525958
LESSCLOSE = /usr/bin/lesspipe %s %s
DEFAULTS_PATH = /usr/share/gconf/mate.default.path
MPLBACKEND = module://ipykernel.pylab.backend_inline
MDM_XSERVER_LOCATION = local
GTK_MODULES = gail:atk-bridge
XDG_DATA_DIRS = /usr/share/mate:/usr/local/share/:/usr/share/:/usr/share/mdm/
PWD = /media/tais/My_Book_1/MAUPP/Traitement/Ouagadougou/Segmentation_fullAOI_localapproach/Notebooks
COLORTERM = mate-terminal
PYTHONLIB = /usr/lib/python2.7
LS_COLORS = rs=0:di=01;34:ln=01;36:mh=00:pi=40;33:so=01;35:do=01;35:bd=40;33;01:cd=40;33;01:or=40;31;01:mi=00:su=37;41:sg=30;43:ca=30;41:tw=30;42:ow=34;42:st=37;44:ex=01;32:*.tar=01;31:*.tgz=01;31:*.arc=01;31:*.arj=01;31:*.taz=01;31:*.lha=01;31:*.lz4=01;31:*.lzh=01;31:*.lzma=01;31:*.tlz=01;31:*.txz=01;31:*.tzo=01;31:*.t7z=01;31:*.zip=01;31:*.z=01;31:*.Z=01;31:*.dz=01;31:*.gz=01;31:*.lrz=01;31:*.lz=01;31:*.lzo=01;31:*.xz=01;31:*.bz2=01;31:*.bz=01;31:*.tbz=01;31:*.tbz2=01;31:*.tz=01;31:*.deb=01;31:*.rpm=01;31:*.jar=01;31:*.war=01;31:*.ear=01;31:*.sar=01;31:*.rar=01;31:*.alz=01;31:*.ace=01;31:*.zoo=01;31:*.cpio=01;31:*.7z=01;31:*.rz=01;31:*.cab=01;31:*.jpg=01;35:*.jpeg=01;35:*.gif=01;35:*.bmp=01;35:*.pbm=01;35:*.pgm=01;35:*.ppm=01;35:*.tga=01;35:*.xbm=01;35:*.xpm=01;35:*.tif=01;35:*.tiff=01;35:*.png=01;35:*.svg=01;35:*.svgz=01;35:*.mng=01;35:*.pcx=01;35:*.mov=01;35:*.mpg=01;35:*.mpeg=01;35:*.m2v=01;35:*.mkv=01;35:*.webm=01;35:*.ogm=01;35:*.mp4=01;35:*.m4v=01;35:*.mp4v=01;35:*.vob=01;35:*.qt=01;35:*.nuv=01;35:*.wmv=01;35:*.asf=01;35:*.rm=01;35:*.rmvb=01;35:*.flc=01;35:*.avi=01;35:*.fli=01;35:*.flv=01;35:*.gl=01;35:*.dl=01;35:*.xcf=01;35:*.xwd=01;35:*.yuv=01;35:*.cgm=01;35:*.emf=01;35:*.ogv=01;35:*.ogx=01;35:*.aac=00;36:*.au=00;36:*.flac=00;36:*.m4a=00;36:*.mid=00;36:*.midi=00;36:*.mka=00;36:*.mp3=00;36:*.mpc=00;36:*.ogg=00;36:*.ra=00;36:*.wav=00;36:*.oga=00;36:*.opus=00;36:*.spx=00;36:*.xspf=00;36:
PAGER = cat
XDG_SEAT = seat0

**-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-**

<center> <font size=5> <h1>User inputs</h1> </font> </center>

In [5]:
## Define a empty dictionnary for saving user inputs
user={}

Here after:
- Enter the path to the directory you want to use as "[GRASSDATA](https://grass.osgeo.org/programming7/loc_struct.png)". 
- Enter the name of the location in which you want to work and its projection information in [EPSG code](http://spatialreference.org/ref/epsg/) format. Please note that the GRASSDATA folder and locations will be automatically created if not existing yet. If the location name already exists, the projection information will not be used.  
- Enter the name you want for the mapsets which will be used later for Unsupervised Segmentation Parameter Optimization (USPO), Segmentation and Classification steps.

In [6]:
## Enter the path to GRASSDATA folder
user["gisdb"] = "/media/tais/My_Book_1/MAUPP/Traitement/Ouagadougou/Segmentation_fullAOI_localapproach/GRASSDATA"

## Enter the name of the location (existing or for a new one)
user["location"] = "Ouaga_32630"

## Enter the EPSG code for this location 
user["locationepsg"] = "32630"

## Enter the name of the mapset to use for segmentation
user["segmentation_mapsetname"] = "LOCAL_SEGMENT"

## Enter the name of the mapset to use for classification
user["classificationA_mapsetname"] = "CLASSIF"

**-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-**

<center> <font size=5> <h1>Define GRASSDATA folder and create GRASS' location and mapsets</h1> </font> </center>

Here after, the python script will check if GRASSDATA folder, locations and mapsets already exist. If not, they will be automatically created.

**Import GRASS Python packages**

In [7]:
## Import libraries needed to launch GRASS GIS in the jupyter notebook
import grass.script.setup as gsetup

## Import libraries needed to call GRASS using Python
import grass.script as grass

**Define GRASSDATA folder and create location and mapsets**

In [8]:
## Automatic creation of GRASSDATA folder
if os.path.exists(user["gisdb"]):
    print "GRASSDATA folder already exist" 
else: 
    os.makedirs(user["gisdb"]) 
    print "GRASSDATA folder created in "+user["gisdb"]

GRASSDATA folder already exist

In [9]:
## Automatic creation of GRASS location is doesn't exist
if os.path.exists(os.path.join(user["gisdb"],user["location"])):
    print "Location "+user["location"]+" already exist" 
else : 
    grass.core.create_location(user["gisdb"], user["location"], epsg=user["locationepsg"], overwrite=False)
    print "Location "+user["location"]+" created"

Location Ouaga_32630 already exist

In [10]:
### Automatic creation of GRASS GIS mapsets

## Import library for file copying 
import shutil

mapsetname=user["classificationA_mapsetname"]
if os.path.exists(os.path.join(user["gisdb"],user["location"],mapsetname)):
    if not os.path.exists(os.path.join(user["gisdb"],user["location"],mapsetname,'WIND')):
        print "WARNING: '"+mapsetname+"' mapset already exist, but a 'WIND' file is missing. Please solve this issue."
    else: print "'"+mapsetname+"' mapset already exist" 
else: 
    os.makedirs(os.path.join(user["gisdb"],user["location"],mapsetname))
    shutil.copy(os.path.join(user["gisdb"],user["location"],'PERMANENT','WIND'),os.path.join(user["gisdb"],user["location"],mapsetname,'WIND'))
    print "'"+mapsetname+"' mapset created in location '"+user["location"]+"'"

'CLASSIF' mapset already exist

In [11]:
### Automatic creation of GRASS GIS mapsets

## Import library for file copying 
import shutil

mapsetname=user["segmentation_mapsetname"]
if os.path.exists(os.path.join(user["gisdb"],user["location"],mapsetname)):
    if not os.path.exists(os.path.join(user["gisdb"],user["location"],mapsetname,'WIND')):
        print "WARNING: '"+mapsetname+"' mapset already exist, but a 'WIND' file is missing. Please solve this issue."
    else: print "'"+mapsetname+"' mapset already exist" 
else: 
    os.makedirs(os.path.join(user["gisdb"],user["location"],mapsetname))
    shutil.copy(os.path.join(user["gisdb"],user["location"],'PERMANENT','WIND'),os.path.join(user["gisdb"],user["location"],mapsetname,'WIND'))
    print "'"+mapsetname+"' mapset created in location '"+user["location"]+"'"

'LOCAL_SEGMENT' mapset already exist

**-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-**

<center> <font size=5> <h1>Define functions</h1> </font> </center>

This section of the notebook is dedicated to defining functions which will then be called later in the script. If you want to create your own functions, define them here.

### Function for computing processing time

The "print_processing_time" is used to calculate and display the processing time for various stages of the processing chain. At the beginning of each major step, the current time is stored in a new variable, using [time.time() function](https://docs.python.org/2/library/time.html). At the end of the stage in question, the "print_processing_time" function is called and takes as argument the name of this new variable containing the recorded time at the beginning of the stage, and an output message.

In [12]:
## Import library for managing time in python
import time  

## Function "print_processing_time()" compute processing time and printing it.
# The argument "begintime" wait for a variable containing the begintime (result of time.time()) of the process for which to compute processing time.
# The argument "printmessage" wait for a string format with information about the process. 
def print_processing_time(begintime, printmessage):    
    endtime=time.time()           
    processtime=endtime-begintime
    remainingtime=processtime

    days=int((remainingtime)/86400)
    remainingtime-=(days*86400)
    hours=int((remainingtime)/3600)
    remainingtime-=(hours*3600)
    minutes=int((remainingtime)/60)
    remainingtime-=(minutes*60)
    seconds=round((remainingtime)%60,1)

    if processtime<60:
        finalprintmessage=str(printmessage)+str(seconds)+" seconds"
    elif processtime<3600:
        finalprintmessage=str(printmessage)+str(minutes)+" minutes and "+str(seconds)+" seconds"
    elif processtime<86400:
        finalprintmessage=str(printmessage)+str(hours)+" hours and "+str(minutes)+" minutes and "+str(seconds)+" seconds"
    elif processtime>=86400:
        finalprintmessage=str(printmessage)+str(days)+" days, "+str(hours)+" hours and "+str(minutes)+" minutes and "+str(seconds)+" seconds"
    
    return finalprintmessage

### Function for Postgres database vaccum

In [13]:
# Do a VACUUM on the current Postgresql database
def vacuum(db):
    old_isolation_level = db.isolation_level
    db.set_isolation_level(0)
    query = "VACUUM"
    cur.execute(query)
    db.set_isolation_level(old_isolation_level)

**-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-**

In [14]:
## Saving current time for processing time management
begintime_full=time.time()

**-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-**

# Set parameter for Postgresql database connection

In [15]:
# User for postgresql connexion
dbuser="tais"
# Password of user
dbpassword="tais"
# Host of database
host="localhost"
# Name of the new database
dbname="ouaga_fullaoi_localsegment"
# Set name of schema for objects statistics
stat_schema="statistics"
# Set name of schema for samples
sample_schema="samples"
# Set name of table with statistics of segmentobject_stats_table="object_stats_sar"s - FOR OPTICAL
object_stats_optical="object_stats_optical"
# Set name of table with statistics of segmentobject_stats_table="object_stats_sar"s - FOR SAR
object_stats_sar="object_stats_sar"
# Set name of table with all the samples
samples_labels="sample_labels"
# Set name of table with samples without outliers
samples_labels_ok="sample_labels_ok"
# Set name of table with samples without outliers in Optical AOI
sample_opt="sample_opt"
# Set name of table with samples without outliers in Optical AOI - Test set
sample_opt_test="sample_opt_test"
# Set name of table with samples without outliers in Optical AOI - Training set
sample_opt_training="sample_opt_training"
# Set name of table with samples without outliers in SAR AOI
sample_sar="sample_sar"
# Set name of table with samples without outliers in SAR AOI - Test set
sample_test="sample_test"
# Set name of table with samples without outliers in SAR AOI - Training set
sample_training="sample_training"

<center> <font size=5> <h1>Select samples in segmentation layer</h1> </font>  </center>

**Launch GRASS GIS working session**

In [16]:
## Set the name of the mapset in which to work
mapsetname=user["classificationA_mapsetname"]

## Launch GRASS GIS working session in the mapset
if os.path.exists(os.path.join(user["gisdb"],user["location"],mapsetname)):
    gsetup.init(os.environ['GISBASE'], user["gisdb"], user["location"], mapsetname)
    print "You are now working in mapset '"+mapsetname+"'" 
else: 
    print "'"+mapsetname+"' mapset doesn't exists in "+user["gisdb"]

You are now working in mapset 'CLASSIF'

### Create new schema

In [18]:
from psycopg2.extensions import ISOLATION_LEVEL_AUTOCOMMIT

# Connect to postgres database
db=None
db=pg.connect(dbname=dbname, user='tais', password='tais', host='localhost')

# Allow to create a new database
db.set_isolation_level(ISOLATION_LEVEL_AUTOCOMMIT)

# Execute the CREATE DATABASE query
cur=db.cursor()
#cur.execute('DROP SCHEMA IF EXISTS '+schema+' CASCADE') #Comment this to avoid deleting existing DB
try:
    cur.execute('CREATE SCHEMA '+stat_schema)
except Exception as e:
    print ("Exception occured : "+str(e))
cur.close()
db.close()

Exception occured : ERREUR:  le schéma « statistics » existe déjà

## Define the folder where to save the results and create it if necessary

In the next cell, please adapt the path to the directory where you want to save the .csv output of i.segment.uspo.

In [19]:
## Folder in which save processing time output
resultfolder="/media/tais/My_Book_1/MAUPP/Traitement/Ouagadougou/Segmentation_fullAOI_localapproach/Results/CLASSIF/samples"

## Create the folder if does not exists
if not os.path.exists(resultfolder):
    os.makedirs(resultfolder)
    print "Folder '"+resultfolder+"' created"

### Import sample points in a vector layer

## Set the path to the .shp file with validation samples
pathtovalidationsampleshp="/media/tais/data/MAUPP/WorldView3_Ouagadougou/Training_validation/Densification/Densified_samples_SPIE2017.shp"

## Set the path to the .shp file with training samples
pathtotrainingsampleshp="/media/tais/data/MAUPP/Articles/SPIE_RemoteSensing2017/Grippa/Data/samples_training.shp"

## Set computational region to match the default region
grass.run_command('g.region', overwrite=True, raster="segments")

## Import validation sample data (points)
grass.run_command('v.in.ogr', overwrite=True, input=pathtovalidationsampleshp, output='samples_validation')
    
## Import training sample data (points)
grass.run_command('v.in.ogr', overwrite=True, input=pathtotrainingsampleshp, output='samples_training')
    
## Print
print "Point sample imported on "+time.ctime()

In [20]:
## Set the path to the .shp file with training/test samples
pathtosampleshp="/media/tais/data/MAUPP/WorldView3_Ouagadougou/Training_validation/Final_sample_ouaga/Ouagadougou_fullextend_sample.shp"

In [21]:
## Set computational region to match the default region
grass.run_command('g.region', overwrite=True, raster="segments")

## Import training/test sample data (points)
grass.run_command('v.in.ogr', overwrite=True, input=pathtosampleshp, output='samples')
    
## Print
print "Point sample imported on "+time.ctime()

Point sample imported on Thu Nov 30 11:17:49 2017

### Identify which segment correspond to each point (for both validation and training)

In our processing chain, the training and test sets are formed of points. However, objects are needed to train the supervised classification in OBIA context. In this section, each point in the training set is used to identify the underlying object in the segmentation layer, and save its unique ID. We use the ['v.db.addcolumn' command](https://grass.osgeo.org/grass72/manuals/v.db.addcolumn.html), ['v.what.rast' command](https://grass.osgeo.org/grass72/manuals/v.what.rast.html) for this purpose.

In [22]:
## Saving current time for processing time management
begintime_whatrast=time.time()
## Add a column "seg_id" in training_set layer
grass.run_command('v.db.addcolumn', map="samples", columns="seg_id int")
## Set computational region to the default region
grass.run_command('g.region', raster="segments")
## For each training point, add the value of the underlying segmentation raster pixel in column "seg_id"
grass.run_command('v.what.rast', map="samples", raster="segments", column="seg_id")
## Compute processing time and print it
print_processing_time(begintime_whatrast, "Segment iD added in attribute table in ")

'Segment iD added in attribute table in 3.6 seconds'

In [23]:
# Create temporary file for work
tmpfile_sample=os.path.join(tempfile.gettempdir(),"tempfile_samples.csv")
# Export the attribute of the 'samples' layer
grass.run_command('db.out.ogr', overwrite=True, input='samples', output=tmpfile_sample, format='CSV')
# Print what happened
print "Attribute table exported on '"+tmpfile_sample+"' file"

Attribute table exported on '/tmp/tempfile_samples.csv' file

## Import samples in a new postgresql table

In [24]:
# Connect to an existing database
db=pg.connect(database=dbname, user=dbuser, password=dbpassword, host=host)
# Open a cursor to perform database operations
cur=db.cursor()

**Create new table**

In [264]:
# Drop table if exists:
cur.execute("DROP TABLE IF EXISTS "+sample_schema+"."+samples_labels)
# Make the changes to the database persistent
db.commit()

In [265]:
## Define which tmpfile to use (validation or training)
tmpfile=tmpfile_sample

In [266]:
import csv
# Create a empty list for saving of column name
column_name=[]
# Create a reader for the first csv file in the stack of csv to be imported
readercsvSubset=open(tmpfile)
readercsv=csv.reader(readercsvSubset, delimiter=',') 
headerline=readercsv.next()
print "Create a new table '"+sample_schema+"."+samples_labels+"' with header corresponding to the first row of file '"+tmpfile+"'"

## Build a query for creation of a new table with auto-incremental key-value (thus avoiding potential duplicates of 'cat' value)
# All column data-types are set to 'text' in order to be able to import some 'nan', 'inf' or 'null' values present in statistics files
# This table will allow to import all individual csv files in a single Postgres table, which will be cleaned after
query="CREATE TABLE "+sample_schema+"."+samples_labels+" ("
query+=str(headerline[0])+"_point"+" integer PRIMARY KEY"
for column in headerline[1:]:
    if column in ('id','osm','class_num','roof_num','seg_id'):
        query+=","
        query+=" "+str(column)+" integer"
    else:
        query+=","
        query+=" "+str(column)+" text"
query+=")"

# Close the current input file
readercsvSubset.close()
    
# Print the query
print query
# Execute the CREATE TABLE query 
cur.execute(query)
# Make the changes to the database persistent
db.commit()

Create a new table 'samples.sample_labels' with header corresponding to the first row of file '/tmp/tempfile_samples.csv'
CREATE TABLE samples.sample_labels (cat_point integer PRIMARY KEY, id text, code text, code_roof text, class text, osm text, class_num text, roof_num text, seg_id integer)

**Copy from .csv in postgresql table**

In [267]:
## Saving current time for processing time management
begintime_copy=time.time()

## Print
print "Start copy csv file in the postgresql table"

# Create query for copy data from csv, avoiding the header
query="COPY "+sample_schema+"."+samples_labels+" \
FROM '"+str(tmpfile)+"' HEADER DELIMITER ',' CSV;" 
# Execute the COPY FROM CSV query 
cur.execute(query)
# Make the changes to the database persistent
db.commit()    

## Compute processing time and print it
print print_processing_time(begintime_copy, "Process achieved in ")

Start copy csv file in the postgresql table
Process achieved in 0.0 seconds

In [268]:
# Query to find the number of row in the sample table
query="SELECT class, max(class_num) as class_num, count(*) FROM "+sample_schema+"."+samples_labels+" \
GROUP BY class \
ORDER BY max(class_num) ASC"
# Execute query through panda
df=pd.read_sql(query, db)
# Show dataframe
df.head(5000)

                           class class_num  count
0                      Buildings        11    429
1   Buildings under construction        12    123
2                 Swimming pools        13    183
3               Asphalt surfaces        14    242
4            Brown/red bare soil        21    216
5           White/grey bare soil        22    200
6                          Trees        31    217
7     Mixed bare soil/vegetation        32    225
8                 Dry vegetation        33    191
9               Other vegetation        34    322
10                 Inland waters        41    223
11                       Shadows        51    191

In [269]:
# Print the total number in sample 
print "Original sample counts "+str(sum(df['count']))+" points."

Original sample counts 2762 points.

## Remove duplicates

In [274]:
# Query to find 'seg_id' wich are duplicated in the sample
query="SELECT seg_id FROM "+sample_schema+"."+samples_labels+" \
GROUP BY seg_id HAVING count(*) > 1.0"
# Execute query through panda
df=pd.read_sql(query, db)
duplicated_segid=list(df['seg_id'])
print "There are "+str(len(duplicated_segid))+" duplicated segments which will be remove from samples"

There are 0 duplicated segments which will be remove from samples

In [272]:
#### Remove rejected segments from the 'sample_stat' table
# Query
query="DELETE FROM "+sample_schema+"."+samples_labels+" \
WHERE seg_id IN ('"+"','".join([str(x) for x in duplicated_segid])+"')"
# Execute the CREATE TABLE query 
cur.execute(query)
# Make the changes to the database persistent
db.commit()

In [273]:
# Vacuum the current Postgresql database
vacuum(db)

## Remove outliers from the samples

In [275]:
# Connect to an existing database
db=pg.connect(database=dbname, user=dbuser, password=dbpassword, host=host)
# Open a cursor to perform database operations
cur=db.cursor()

** Notice about the visual interpretation of outlier segments**

95% of segments where visually assessed using the results of local segmentation parameter optimization approach.

In [276]:
# Save a list with 'seg_id' to be removed
remove_list=[6255402,7744776,7044799,6078235,10502897,6876381,12300768,6247378,12499295,6329556,6482113,
             3875007,12515665,2980639,7408144,2994968,12588869,7254663,2720755,7945387,6928527,7328013,
             2227885,2557822,2123292,8299882,15173102,2882248,6829153,6999865,14445665,15096549,12415122,
             15097739,9716573,7142033,5181162,1111646,2840051,2871072,8619751,4647146,15087616,4451966,3028339,
             15408522,14671220,7713534,4577021,15003423,7878206,3526056,13818795,1538896,3531654,13463235,
             6691796,2008255,5486015,1706531,6090721,10120225,4950334,9911243,7554597,8397760,8166828,
             8754793,4034215,11982782,8301269,7720700,5766862,6334137,5602235,10336548,7857639,8807988,6927462,
             11373495,2652049,12423996,14781702,5410572,2640910,6289370,15339998,90558,2158038,5694526,1861549,
             9308271,6608980,1100126,1547484,1512319,11273219,965059,321422,12428549,8391892,1890247,6161203,
             1947701,5077535,1844748,6261486,1763602,5410108,2956301,7473524,3414099,5366216,3977046,870198,
             7872932,3341959,5366949,2170072,6930780,2181069,2053367,6233224,6507816,6550503,7731307,3563944,
             4738499,3373619,3373619,3676702,10714804,3912663,5050862,3737696,11249864,2126825,12870533,6906431,
             3402173,1665297,2285263,1512731,3106970,9051990,11383089,7764629,6791455,6677946,4705013,10720407,
             7833880,7260635,6515879,7041313,7618921,8010467,7982801,7227661,5001150,7186494,7280282,2684001,
             10513768,6271320,10913026,3253125,10483233,1800856,11894344,1707528,6883962,7002283,11860118,6859894]

### Create and update a 'remove' column base on a list of seg_id to be removed

In [277]:
## Add column for prediction at level 2 + label of level 2 classes
query="ALTER TABLE "+sample_schema+"."+samples_labels+" ADD COLUMN remove text"
# Execute the query 
cur.execute(query)
# Make the changes to the database persistent
db.commit()

In [278]:
# Update the 'remove' column with 'yes'
query="UPDATE "+sample_schema+"."+samples_labels+" \
SET remove = 'yes' WHERE  seg_id IN ("+",".join(str(x) for x in remove_list)+")"
# Execute the query 
cur.execute(query)
# Make the changes to the database persistent
db.commit()
# Update the 'remove' column with 'no'
query="UPDATE "+sample_schema+"."+samples_labels+" \
SET remove = 'no' WHERE  seg_id NOT IN ("+",".join(str(x) for x in remove_list)+")"
# Execute the query 
cur.execute(query)
# Make the changes to the database persistent
db.commit()

### Create new table with sample which are not outliers

In [279]:
# Drop table if exists:
cur.execute("DROP TABLE IF EXISTS "+sample_schema+"."+samples_labels_ok)
# Make the changes to the database persistent
db.commit()

In [280]:
# Update the 'remove' column with 'yes'
query="CREATE TABLE "+sample_schema+"."+samples_labels_ok+" AS(\
SELECT * FROM "+sample_schema+"."+samples_labels+" WHERE remove = 'no')"
# Execute the query 
cur.execute(query)
# Make the changes to the database persistent
db.commit()

# Create training and test sample for SAR aoi

### Create new table with sample which are not outliers and included in SAR AOI

In [281]:
# Drop table if exists:
cur.execute("DROP TABLE IF EXISTS "+sample_schema+"."+sample_sar)
# Make the changes to the database persistent
db.commit()

In [282]:
# Update the 'remove' column with 'yes'
query="CREATE TABLE "+sample_schema+"."+sample_sar+" AS(\
SELECT a.* FROM "+sample_schema+"."+samples_labels_ok+" AS a \
INNER JOIN "+stat_schema+"."+object_stats_sar+" AS b \
ON a.seg_id=b.cat)"
# Execute the query 
cur.execute(query)
# Make the changes to the database persistent
db.commit()

### Delete samples whose class is 12 (building under construction) or 51 (Shadows)

In [283]:
# Update the 'remove' column with 'yes'
query="DELETE FROM "+sample_schema+"."+sample_sar+" \
WHERE class_num = '12' OR class_num = '51'"
# Execute the query 
cur.execute(query)
# Make the changes to the database persistent
db.commit()

### Check if size of sample is sufficient

In [284]:
# Query to find the number of row in the sample table
query="SELECT class, min(class_num) as class_num, count(*) FROM "+sample_schema+"."+sample_sar+" \
GROUP BY class \
ORDER BY max(class_num) ASC"
# Execute query through panda
df_countperclass=pd.read_sql(query, db)
# Show dataframe
df_countperclass.head(5000)

                        class class_num  count
0                   Buildings        11    402
1              Swimming pools        13    167
2            Asphalt surfaces        14    139
3         Brown/red bare soil        21    196
4        White/grey bare soil        22    162
5                       Trees        31    186
6  Mixed bare soil/vegetation        32    193
7              Dry vegetation        33    171
8            Other vegetation        34    300
9               Inland waters        41    188

In [285]:
# Print the total number in sample 
print "Filtred sample counts "+str(sum(df_countperclass['count']))+" points."

Filtred sample counts 2104 points.

In [286]:
## Set the minimum size of sample for each class
minimumsize=60
## Check for each class if the number of sample at least equals the minimum size
checkvariable=0
for row in range(0,len(df_countperclass.index)):
    if int(df_countperclass.loc[row,['count']])<minimumsize:
        checkvariable+=1
        print "WARNING: The minimum number of sample is not respected for class '"+list(df_countperclass.loc[row,['class']])[0]+"'"
if checkvariable<=0:
        print "The size of the sample is sufficient"

The size of the sample is sufficient

In [287]:
# Vacuum the current Postgresql database
vacuum(db)

## Random selection of test set and training set

In [288]:
# Connect to an existing database
db=pg.connect(database=dbname, user=dbuser, password=dbpassword, host=host)
# Open a cursor to perform database operations
cur=db.cursor()

In [289]:
## Create a list with distinct values of class
class_column="class_num"
query="SELECT DISTINCT "+class_column+" AS distinct_class from "+sample_schema+"."+sample_sar
# Execute query through panda
df=pd.read_sql(query, db)
# Save estimated number of objects
class_list=list(df['distinct_class'])
# Print
print str(len(class_list))+" distinct classes are "+",".join([str(y) for y in sorted([int(x) for x in class_list])])

10 distinct classes are 11,13,14,21,22,31,32,33,34,41

### Select test samples

In [290]:
## Loop on the class_list and save cat_point in a list
number_test_perclass=40
testsample_list=[]
for distinct_class in class_list:
    query="SELECT cat_point FROM "+sample_schema+"."+sample_sar+" WHERE random() < 0.5 \
    AND "+class_column+"='"+distinct_class+"'\
    ORDER BY random() LIMIT 40"
    # Execute query through panda
    df=pd.read_sql(query, db)
    # Save estimated number of objects
    for x in list(df['cat_point']):
        testsample_list.append(str(x))
    
# Print
print str(len(testsample_list))+" samples will be selected for test"

400 samples will be selected for test

In [291]:
# Drop table if exists:
cur.execute("DROP TABLE IF EXISTS "+sample_schema+"."+sample_test)
# Make the changes to the database persistent
db.commit()
# Subquery
subquery1="SELECT * FROM "+sample_schema+"."+sample_sar+" \
WHERE cat_point IN ("+",".join(testsample_list)+")"
# Query
query="CREATE TABLE "+sample_schema+"."+sample_test+" AS("+subquery1+")"
# Execute the CREATE TABLE query 
cur.execute(query)
# Make the changes to the database persistent
db.commit()

In [292]:
# Query to find the number of row in the test samples
query="SELECT class, min(class_num) as class_num, count(*) FROM "+sample_schema+"."+sample_test+" \
GROUP BY class \
ORDER BY max(class_num) ASC"
# Execute query through panda
df_countperclass=pd.read_sql(query, db)
# Show dataframe
df_countperclass.head(5000)

                        class class_num  count
0                   Buildings        11     40
1              Swimming pools        13     40
2            Asphalt surfaces        14     40
3         Brown/red bare soil        21     40
4        White/grey bare soil        22     40
5                       Trees        31     40
6  Mixed bare soil/vegetation        32     40
7              Dry vegetation        33     40
8            Other vegetation        34     40
9               Inland waters        41     40

In [293]:
# Print the total number in sample 
print "Test samples counts "+str(sum(df_countperclass['count']))+" points."

Test samples counts 400 points.

**Select training samples**

In [294]:
# Drop table if exists:
cur.execute("DROP TABLE IF EXISTS "+sample_schema+"."+sample_training)
# Make the changes to the database persistent
db.commit()
# Subquery
subquery1="SELECT * FROM "+sample_schema+"."+sample_sar+" \
WHERE cat_point NOT IN ("+",".join(testsample_list)+")"
# Query
query="CREATE TABLE "+sample_schema+"."+sample_training+" AS("+subquery1+")"
# Execute the CREATE TABLE query 
cur.execute(query)
# Make the changes to the database persistent
db.commit()

In [295]:
# Query to find the number of row in the sample table
query="SELECT class, min(class_num) as class_num, count(*) FROM "+sample_schema+"."+sample_training+" \
GROUP BY class \
ORDER BY max(class_num) ASC"
# Execute query through panda
df_countperclass=pd.read_sql(query, db)
# Show dataframe
df_countperclass.head(5000)

                        class class_num  count
0                   Buildings        11    362
1              Swimming pools        13    127
2            Asphalt surfaces        14     99
3         Brown/red bare soil        21    156
4        White/grey bare soil        22    122
5                       Trees        31    146
6  Mixed bare soil/vegetation        32    153
7              Dry vegetation        33    131
8            Other vegetation        34    260
9               Inland waters        41    148

In [296]:
# Print the total number in sample 
print "Training samples counts "+str(sum(df_countperclass['count']))+" points."

Training samples counts 1704 points.

### Export full sample as .csv for archive

In [314]:
# Connect to an existing database
db=pg.connect(database=dbname, user=dbuser, password=dbpassword, host=host)
# Open a cursor to perform database operations
cur=db.cursor()

In [315]:
resultfolder

'/media/tais/My_Book_1/MAUPP/Traitement/Ouagadougou/Segmentation_fullAOI_localapproach/Results/CLASSIF/samples'

In [316]:
## Define the path to the .csv output
output=os.path.join(resultfolder,"all_sample_saraoi.csv")

In [317]:
#### Export as .csv
# Query
query="COPY "+schema+"."+sample_sar+" TO '"+output+"' DELIMITER ',' CSV HEADER"
# Execute the CREATE TABLE query 
cur.execute(query)
# Make the changes to the database persistent
db.commit()

### Export training and vaildation sample as .csv for archive

In [318]:
## Define the path to the .csv output
sample_training_csv=os.path.join(resultfolder,"sample_training_saraoi.csv")
sample_test_csv=os.path.join(resultfolder,"sample_validation_saraoi.csv")

In [319]:
#### Export as .csv
# Query
query="COPY "+schema+"."+sample_training+" TO '"+sample_training_csv+"' DELIMITER ',' CSV HEADER"
# Execute the CREATE TABLE query 
cur.execute(query)
# Make the changes to the database persistent
db.commit()

In [320]:
#### Export as .csv
# Query
query="COPY "+schema+"."+sample_test+" TO '"+sample_test_csv+"' DELIMITER ',' CSV HEADER"
# Execute the CREATE TABLE query 
cur.execute(query)
# Make the changes to the database persistent
db.commit()

In [321]:
# Close cursor and communication with the database
cur.close()
db.close()

# Create training and test sample for Optical aoi

### Create new table with sample which are not outliers and included in optical AOI

In [26]:
# Drop table if exists:
cur.execute("DROP TABLE IF EXISTS "+sample_schema+"."+sample_opt)
# Make the changes to the database persistent
db.commit()

In [27]:
# Update the 'remove' column with 'yes'
query="CREATE TABLE "+sample_schema+"."+sample_opt+" AS(\
SELECT a.* FROM "+sample_schema+"."+samples_labels_ok+" AS a \
INNER JOIN "+stat_schema+"."+object_stats_optical+" AS b \
ON a.seg_id=b.cat)"
# Execute the query 
cur.execute(query)
# Make the changes to the database persistent
db.commit()

### Delete samples whose class is 12 (building under construction)

In [28]:
# Update the 'remove' column with 'yes'
query="DELETE FROM "+sample_schema+"."+sample_opt+" \
WHERE class_num = '12'"
# Execute the query 
cur.execute(query)
# Make the changes to the database persistent
db.commit()

### Check if size of sample is sufficient

In [29]:
# Query to find the number of row in the sample table
query="SELECT class, min(class_num) as class_num, count(*) FROM "+sample_schema+"."+sample_opt+" \
GROUP BY class \
ORDER BY max(class_num) ASC"
# Execute query through panda
df_countperclass=pd.read_sql(query, db)
# Show dataframe
df_countperclass.head(5000)

                         class class_num  count
0                    Buildings        11    411
1               Swimming pools        13    167
2             Asphalt surfaces        14    140
3          Brown/red bare soil        21    201
4         White/grey bare soil        22    171
5                        Trees        31    194
6   Mixed bare soil/vegetation        32    201
7               Dry vegetation        33    178
8             Other vegetation        34    314
9                Inland waters        41    189
10                     Shadows        51    177

In [30]:
# Print the total number in sample 
print "Filtred sample counts "+str(sum(df_countperclass['count']))+" points."

Filtred sample counts 2343 points.

In [31]:
## Set the minimum size of sample for each class
minimumsize=60
## Check for each class if the number of sample at least equals the minimum size
checkvariable=0
for row in range(0,len(df_countperclass.index)):
    if int(df_countperclass.loc[row,['count']])<minimumsize:
        checkvariable+=1
        print "WARNING: The minimum number of sample is not respected for class '"+list(df_countperclass.loc[row,['class']])[0]+"'"
if checkvariable<=0:
        print "The size of the sample is sufficient"

The size of the sample is sufficient

In [32]:
# Vacuum the current Postgresql database
vacuum(db)

## Random selection of test set and training set

In [33]:
# Connect to an existing database
db=pg.connect(database=dbname, user=dbuser, password=dbpassword, host=host)
# Open a cursor to perform database operations
cur=db.cursor()

In [35]:
## Create a list with distinct values of class
class_column="class_num"
query="SELECT DISTINCT "+class_column+" AS distinct_class from "+sample_schema+"."+sample_opt
# Execute query through panda
df=pd.read_sql(query, db)
# Save estimated number of objects
class_list=list(df['distinct_class'])
# Print
print str(len(class_list))+" distinct classes are "+",".join([str(y) for y in sorted([int(x) for x in class_list])])

11 distinct classes are 11,13,14,21,22,31,32,33,34,41,51

### Select test samples

In [36]:
## Loop on the class_list and save cat_point in a list
number_test_perclass=40
testsample_list=[]
for distinct_class in class_list:
    query="SELECT cat_point FROM "+sample_schema+"."+sample_opt+" WHERE random() < 0.5 \
    AND "+class_column+"='"+distinct_class+"'\
    ORDER BY random() LIMIT 40"
    # Execute query through panda
    df=pd.read_sql(query, db)
    # Save estimated number of objects
    for x in list(df['cat_point']):
        testsample_list.append(str(x))
    
# Print
print str(len(testsample_list))+" samples will be selected for test"

440 samples will be selected for test

In [37]:
# Drop table if exists:
cur.execute("DROP TABLE IF EXISTS "+sample_schema+"."+sample_opt_test)
# Make the changes to the database persistent
db.commit()
# Subquery
subquery1="SELECT * FROM "+sample_schema+"."+sample_opt+" \
WHERE cat_point IN ("+",".join(testsample_list)+")"
# Query
query="CREATE TABLE "+sample_schema+"."+sample_opt_test+" AS("+subquery1+")"
# Execute the CREATE TABLE query 
cur.execute(query)
# Make the changes to the database persistent
db.commit()

In [38]:
# Query to find the number of row in the test samples
query="SELECT class, min(class_num) as class_num, count(*) FROM "+sample_schema+"."+sample_opt_test+" \
GROUP BY class \
ORDER BY max(class_num) ASC"
# Execute query through panda
df_countperclass=pd.read_sql(query, db)
# Show dataframe
df_countperclass.head(5000)

                         class class_num  count
0                    Buildings        11     40
1               Swimming pools        13     40
2             Asphalt surfaces        14     40
3          Brown/red bare soil        21     40
4         White/grey bare soil        22     40
5                        Trees        31     40
6   Mixed bare soil/vegetation        32     40
7               Dry vegetation        33     40
8             Other vegetation        34     40
9                Inland waters        41     40
10                     Shadows        51     40

In [39]:
# Print the total number in sample 
print "Test samples counts "+str(sum(df_countperclass['count']))+" points."

Test samples counts 440 points.

**Select training samples**

In [40]:
# Drop table if exists:
cur.execute("DROP TABLE IF EXISTS "+sample_schema+"."+sample_opt_training)
# Make the changes to the database persistent
db.commit()
# Subquery
subquery1="SELECT * FROM "+sample_schema+"."+sample_opt+" \
WHERE cat_point NOT IN ("+",".join(testsample_list)+")"
# Query
query="CREATE TABLE "+sample_schema+"."+sample_opt_training+" AS("+subquery1+")"
# Execute the CREATE TABLE query 
cur.execute(query)
# Make the changes to the database persistent
db.commit()

In [41]:
# Query to find the number of row in the sample table
query="SELECT class, min(class_num) as class_num, count(*) FROM "+sample_schema+"."+sample_opt_training+" \
GROUP BY class \
ORDER BY max(class_num) ASC"
# Execute query through panda
df_countperclass=pd.read_sql(query, db)
# Show dataframe
df_countperclass.head(5000)

                         class class_num  count
0                    Buildings        11    371
1               Swimming pools        13    127
2             Asphalt surfaces        14    100
3          Brown/red bare soil        21    161
4         White/grey bare soil        22    131
5                        Trees        31    154
6   Mixed bare soil/vegetation        32    161
7               Dry vegetation        33    138
8             Other vegetation        34    274
9                Inland waters        41    149
10                     Shadows        51    137

In [42]:
# Print the total number in sample 
print "Training samples counts "+str(sum(df_countperclass['count']))+" points."

Training samples counts 1903 points.

### Export full sample as .csv for archive

In [43]:
# Connect to an existing database
db=pg.connect(database=dbname, user=dbuser, password=dbpassword, host=host)
# Open a cursor to perform database operations
cur=db.cursor()

In [44]:
resultfolder

'/media/tais/My_Book_1/MAUPP/Traitement/Ouagadougou/Segmentation_fullAOI_localapproach/Results/CLASSIF/samples'

In [45]:
## Define the path to the .csv output
output=os.path.join(resultfolder,"all_sample_optaoi.csv")

In [47]:
#### Export as .csv
# Query
query="COPY "+sample_schema+"."+sample_opt+" TO '"+output+"' DELIMITER ',' CSV HEADER"
# Execute the CREATE TABLE query 
cur.execute(query)
# Make the changes to the database persistent
db.commit()

### Export training and vaildation sample as .csv for archive

In [48]:
## Define the path to the .csv output
sample_training_csv=os.path.join(resultfolder,"sample_training_optaoi.csv")
sample_test_csv=os.path.join(resultfolder,"sample_validation_optaoi.csv")

In [49]:
#### Export as .csv
# Query
query="COPY "+sample_schema+"."+sample_opt_training+" TO '"+sample_training_csv+"' DELIMITER ',' CSV HEADER"
# Execute the CREATE TABLE query 
cur.execute(query)
# Make the changes to the database persistent
db.commit()

In [50]:
#### Export as .csv
# Query
query="COPY "+sample_schema+"."+sample_opt_test+" TO '"+sample_test_csv+"' DELIMITER ',' CSV HEADER"
# Execute the CREATE TABLE query 
cur.execute(query)
# Make the changes to the database persistent
db.commit()

In [51]:
# Close cursor and communication with the database
cur.close()
db.close()

# Add column with ground truth classes for level 2b

The objective is to have only one class for bare soils and one class for vegetation

In [17]:
# Connect to an existing database
db=pg.connect(database=dbname, user=dbuser, password=dbpassword, host=host)
# Open a cursor to perform database operations
cur=db.cursor()

In [18]:
## Add column for prediction at level 2b
query="ALTER TABLE "+sample_schema+"."+sample_opt_test+" \
ADD COLUMN class_num_b text, \
ADD COLUMN class_b text"
# Execute the query 
cur.execute(query)
# Make the changes to the database persistent
db.commit()

## Add column for prediction at level 2b
query="ALTER TABLE "+sample_schema+"."+sample_opt_training+" \
ADD COLUMN class_num_b text, \
ADD COLUMN class_b text"
# Execute the query 
cur.execute(query)
# Make the changes to the database persistent
db.commit()

**Update table 'test'**

In [19]:
# Update the value
query="UPDATE "+sample_schema+"."+sample_opt_test+" SET \
class_num_b = '20' WHERE  class_num IN ('21','22')"
# Execute the query 
cur.execute(query)
# Make the changes to the database persistent
db.commit()

# Update the value
query="UPDATE "+sample_schema+"."+sample_opt_test+" SET \
class_num_b = '30' WHERE  class_num IN ('32','33','34')"
# Execute the query 
cur.execute(query)
# Make the changes to the database persistent
db.commit()

# Update the value
query="UPDATE "+sample_schema+"."+sample_opt_test+" SET \
class_num_b = class_num WHERE class_num_b IS NULL"
# Execute the query 
cur.execute(query)
# Make the changes to the database persistent
db.commit()

In [20]:
# Update the value
query="UPDATE "+sample_schema+"."+sample_opt_test+" SET \
class_b = 'Bare soils' WHERE  class_num_b = '20'"
# Execute the query 
cur.execute(query)
# Make the changes to the database persistent
db.commit()

# Update the value
query="UPDATE "+sample_schema+"."+sample_opt_test+" SET \
class_b = 'Low vegetation' WHERE  class_num_b ='30'"
# Execute the query 
cur.execute(query)
# Make the changes to the database persistent
db.commit()

# Update the value
query="UPDATE "+sample_schema+"."+sample_opt_test+" SET \
class_b = class WHERE class_b IS NULL"
# Execute the query 
cur.execute(query)
# Make the changes to the database persistent
db.commit()

**Update table 'training'**

In [21]:
# Update the value
query="UPDATE "+sample_schema+"."+sample_opt_training+" SET \
class_num_b = '20' WHERE  class_num IN ('21','22')"
# Execute the query 
cur.execute(query)
# Make the changes to the database persistent
db.commit()

# Update the value
query="UPDATE "+sample_schema+"."+sample_opt_training+" SET \
class_num_b = '30' WHERE  class_num IN ('32','33','34')"
# Execute the query 
cur.execute(query)
# Make the changes to the database persistent
db.commit()

# Update the value
query="UPDATE "+sample_schema+"."+sample_opt_training+" SET \
class_num_b = class_num WHERE class_num_b IS NULL"
# Execute the query 
cur.execute(query)
# Make the changes to the database persistent
db.commit()

In [22]:
# Update the value
query="UPDATE "+sample_schema+"."+sample_opt_training+" SET \
class_b = 'Bare soils' WHERE  class_num_b = '20'"
# Execute the query 
cur.execute(query)
# Make the changes to the database persistent
db.commit()

# Update the value
query="UPDATE "+sample_schema+"."+sample_opt_training+" SET \
class_b = 'Low vegetation' WHERE  class_num_b ='30'"
# Execute the query 
cur.execute(query)
# Make the changes to the database persistent
db.commit()

# Update the value
query="UPDATE "+sample_schema+"."+sample_opt_training+" SET \
class_b = class WHERE class_b IS NULL"
# Execute the query 
cur.execute(query)
# Make the changes to the database persistent
db.commit()

# Add column with ground truth classes for level 1

The objective is to have only one class for bare soils and one class for vegetation

In [23]:
# Setup a dictionnary with label of level 1 classes
level1_dict={}
level1_dict['1']="Artificial surfaces"
level1_dict['2']="Natural material surfaces"
level1_dict['3']="Vegetation"
level1_dict['4']="Water"
level1_dict['5']="Shadows"

In [27]:
# Connect to an existing database
db=pg.connect(database=dbname, user=dbuser, password=dbpassword, host=host)
# Open a cursor to perform database operations
cur=db.cursor()

In [28]:
## Add column for prediction at level 2b
query="ALTER TABLE "+sample_schema+"."+sample_opt_test+" \
ADD COLUMN class_num_l1 text, \
ADD COLUMN class_l1 text"
# Execute the query 
cur.execute(query)
# Make the changes to the database persistent
db.commit()

## Add column for prediction at level 2b
query="ALTER TABLE "+sample_schema+"."+sample_opt_training+" \
ADD COLUMN class_num_l1 text, \
ADD COLUMN class_l1 text"
# Execute the query 
cur.execute(query)
# Make the changes to the database persistent
db.commit()

**Update table 'test'**

In [29]:
# Update the value
query="UPDATE "+sample_schema+"."+sample_opt_test+" SET \
class_num_l1 = class_num::integer/10"
# Execute the query 
cur.execute(query)
# Make the changes to the database persistent
db.commit()

In [30]:
## Update column for label of level 2 classes
for classes in level1_dict.keys():
    query="UPDATE "+sample_schema+"."+sample_opt_test+" \
    SET class_l1 = '"+level1_dict[classes]+"' WHERE class_num_l1='"+str(classes)+"'"
    # Execute the query 
    cur.execute(query)
    # Make the changes to the database persistent
    db.commit()

**Update table 'training'**

In [31]:
# Update the value
query="UPDATE "+sample_schema+"."+sample_opt_training+" SET \
class_num_l1 = class_num::integer/10"
# Execute the query 
cur.execute(query)
# Make the changes to the database persistent
db.commit()

In [32]:
## Update column for label of level 2 classes
for classes in level1_dict.keys():
    query="UPDATE "+sample_schema+"."+sample_opt_training+" \
    SET class_l1 = '"+level1_dict[classes]+"' WHERE class_num_l1='"+str(classes)+"'"
    # Execute the query 
    cur.execute(query)
    # Make the changes to the database persistent
    db.commit()

<left> <font size=4> <b> End of classification part </b> </font> </left>

In [ ]:
print("The script ends at "+ time.ctime())
print_processing_time(begintime_segmentation_full, "Entire process has been achieved in ")

**-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-**